.tag-box {
    display: inline-flex;
    padding: 10px 10px 10px 10px;
    justify-content: center;
    align-items: center;
    gap: 15px;    border-radius: 30px;
    background: #E8E8E8;
}

.tag-box.selected {
    background: #DDF0FF;
}

.tag-delete-button-container{
    width: max-content;
    max-width: max-content;
}

.delete-button{
    width: fit-content;
    max-width: fit-content;
    height: fit-content;
    max-height: fit-content;
    padding: 0;
    margin: 0;
    border: none;
    background: #E8E8E8;
}

.delete-button img{
    width: 25px;
    height: 25px;
}
