.images-container {
    display: flex;
    padding: 0px 40px; 
    justify-content: space-between;
    align-items: center;
}

.add-button {
    display: flex;
    width: 279px;
    height: 227px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 100px;
    font-weight: 100;
    font-family: 'Merriweather', serif;
}

.add-button-container {
    display: flex;
    width: 280px;
    height: 285px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    gap: 10px;
}

.titles {
    padding: 10px 40px;
    font-size: 30px;
    font-family: 'Merriweather', serif;
}

.see-all-container {
    width: 100px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    box-sizing: border-box;
}

.see-all-button {
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}