.images-container {
    display: flex;
    padding: 0px 40px; 
    justify-content: space-between;
    align-items: center;
}

.add-button {
    display: flex;
    width: 279px;
    height: 227px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}

.add-button-container {
    display: flex;
    width: 280px;
    height: 285px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-items: center;
}

.titles {
    padding: 10px 40px;
    font-size: 30px;
    font-family: 'Merriweather', serif;
}

.images-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 images per row */
    gap: 20px; /* Space between images */
    justify-content: center;
    padding: 20px;
}

.images-grid img {
    width: 100%; /* Ensures images fit within their grid */
    max-width: 300px; /* Adjust this based on your design */
    height: auto;
}