
.images-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    padding: 20px;
}

.images-grid > * {
    flex: 1 1 calc(33.33% - 20px); /* 3 images per row */
    max-width: calc(33.33% - 20px);
}
